body{
    color:#142d9c;
    background: #f1e0bb;

}

.d{
    width: 250px;
    display: inline-block;
    list-style-type: disc;
}

.welcome{
    border: 2px solid #020114;
    height:30px;
    font-size:20px;
    font-style:italic;
    font-weight: bolder;
    
    background-color: rgb(9, 82, 82);
    color: aliceblue;
    padding:inherit;
}


.para{
    background-color: rgb(206, 148, 90);
    border: 2px solid #01b6fd;
    height:200px;
}
.footer{
    background-color: aquamarine;
    border: 2px solid #032e3f;
}
.line{
    display: inline-block;
    width:40%;
    padding: 10px;
    border: 2px solid #f0720b;
}
